amqp==2.5.2
anyjson==0.3.3
appdirs==1.4.3
attrs==19.3.0
beautifulsoup4==4.6.0
billiard==3.6.1.0
black==19.10b0
boto3==1.11.9
botocore==1.14.9
celery==4.4.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coderedcms==0.17.0
decorator==4.4.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.24
django-bootstrap4==1.1.1
django-celery==3.3.1
django-debug-toolbar==2.1
django-eventtools==1.0.0
django-modelcluster==5.0.1
django-redis-cache==2.1.0
django-sass==0.2.0
django-sendmail-backend==0.1.2
django-storages==1.8
django-taggit==1.2.0
django-treebeard==4.3.1
djangorestframework==3.11.0
docutils==0.16
draftjs-exporter==2.1.7
future==0.18.2
geocoder==1.38.1
gunicorn==20.0.4
html5lib==1.0.1
httplib2==0.18.0
icalendar==4.0.4
idna==2.8
jmespath==0.9.4
kombu==4.6.7
l18n==2018.5
libsass==0.19.4
lml==0.0.9
oauth2client==4.1.3
odfpy==1.3.5
packaging==20.1
pathspec==0.7.0
Pillow==8.2.0
pip-review==1.0
pip-tools==4.4.1
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==19.8.18
pyexcel-io==0.5.20
pyexcel-ods==0.5.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
ratelim==0.1.6
redis==3.4.0
regex==2020.1.8
requests==2.22.0
rsa==4.0
s3transfer==0.3.2
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.1
ua-parser==0.8.0
Unidecode==1.1.1
urllib3==1.25.8
user-agents==2.0
vine==1.3.0
wagalytics==1.2
wagtail==2.8.1
wagtail-cache==0.5.2
wagtail-import-export==0.2
wagtail-livepreview==0.1
wagtailfontawesome==1.2.1
wagtailmedia==0.4.0
webencodings==0.5.1
Willow==1.3
