{% extends "base.html" %}

{% block content %}

<div class="container">
   <div class="column add-bottom">
      <div id="mainwrap">
         <div id="audiowrap">
            <div id="tracks" class="row">
                <a id="btnPrev" class='fas fa-fast-backward col'></a>
                <div id="nowPlay" class='row'><span id="npAction">Paused...</span><span id="npTitle"></span> </div>
                <a id="btnNext" class='fas fa-fast-forward col'></a>
            </div>
            <div id="audio0"><audio id="audio1" preload controls>Your browser does not support HTML5 Audio! 😢</audio></div>
         </div>
         <table class="table table-sm">
            <thead>
            <tr>
               <th scope="col">Episode</th>
               <th scope="col">Date</th>
               <th scope="col">Title</th>
               <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody id='plList'>
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
jQuery(function ($) {
    'use strict'
    var supportsAudio = !!document.createElement('audio').canPlayType;
    if (supportsAudio) {
        // initialize plyr
        var player = new Plyr('#audio1', { controls: ['restart', 'play', 'progress', 'current-time', 'duration', 'mute', 'volume', 'download' ] });
        // initialize playlist and controls
        var index = 0,
            playing = false,
            tracks = [
                {% for card in self.cards %}
                { "name": "{{ card.title }}", "track":{{ card.trackno }}, "file": "{{ card.track.file.url }}", "duration": {{ card.track.duration }},"trackdate": "{{card.trackdate}}" , "shownotes": "{{card.shownotespage.url }}"},
                {% endfor %}
            ],
            buildPlaylist = $.each(tracks, function(key, value) {
                var trackNumber = value.track,
                    trackName = value.name,
                    trackDuration = value.duration,
                    shownotes = value.shownotes,
                    trackdate = value.trackdate;
                $('#plList').append('<tr><th scope="row"><a href=' + shownotes + '  class="badge badge-light">' + trackNumber + '</a></th> \
                    <td>' + trackdate + '</td> \
                    <td>' + trackName + '</td> \
                    <td>' + trackDuration + '</td> \
                </tr>');
            }),
            trackCount = tracks.length,
            npAction = $('#npAction'),
            npTitle = $('#npTitle'),
            audio = $('#audio1').on('play', function () {
                playing = true;
                npAction.text('Playing...');
            }).on('pause', function () {
                playing = false;
                npAction.text('Paused...');
            }).on('ended', function () {
                npAction.text('Paused...');
                if ((index + 1) < trackCount) {
                    index++;
                    loadTrack(index);
                    audio.play();
                } else {
                    audio.pause();
                    index = 0;
                    loadTrack(index);
                }
            }).get(0),
            btnPrev = $('#btnPrev').on('click', function () {
                if ((index - 1) > -1) {
                    index--;
                    loadTrack(index);
                    if (playing) {
                        audio.play();
                    }
                } else {
                    audio.pause();
                    index = 0;
                    loadTrack(index);
                }
            }),
            btnNext = $('#btnNext').on('click', function () {
                if ((index + 1) < trackCount) {
                    index++;
                    loadTrack(index);
                    if (playing) {
                        audio.play();
                    }
                } else {
                    audio.pause();
                    index = 0;
                    loadTrack(index);
                }
            }),
            li = $('#plList tr').on('click', function () {
                var id = parseInt($(this).index());
                if (id !== index) {
                    playTrack(id);
                }
            }),
            loadTrack = function (id) {
                $('.plSel').removeClass('plSel');
                $('#plList tr').removeClass('table-active');
                $('#plList tr:eq(' + id + ')').addClass('plSel');
                $('#plList tr:eq(' + id + ')').addClass('table-active');
                npTitle.text(tracks[id].name);
                index = id;
                audio.src = tracks[id].file ;
                updateDownload(id, audio.src);
            },
            updateDownload = function (id, source) {
                player.on('loadedmetadata', function () {
                    $('a[data-plyr="download"]').attr('href', source);
                });
            },
            playTrack = function (id) {
                loadTrack(id);
                audio.play();
            };
        loadTrack(index);
    } else {
        // no audio support
        $('.column').addClass('hidden');
        var noSupport = $('#audio1').text();
        $('.container').append('<p class="no-support">' + noSupport + '</p>');
    }
})
   </script>
{% endblock %}
