<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youdea Homepage</title>

</head>
<body>
    <div>
        <h1> Pages you can visit </h1>
        <p> 
            <ol>
                <li>/admin username=brian and password is the greatest vitamin </li>
                <li>/articles/ which gets new pages added from /admin. This is a whole app by itself</li>
                <li>/about which is currently empty but the idea is to run </li>
            </ol>
        </p>
    </div>

</body>
</html>
