<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head> 
            {% from "mytools.html" import head_html  %}
            {% from "mytools.html" import footer_html %}
            <title> Welcome To Youdea</title>
            {{ head_html() }}
    </head>

    <body>
        <div class='container-fluid jumbotron'> 
            <div class='row'> 
                <div class='col h-100 d-flex justify-content-center'>
                    <h2> Coming Soon... </h2> 
                </div> 
            </div> 
        </div>

    {{ footer_html() }}
    </body>
</html>
