{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
                    <div class='container'>
                            <div class="jumbotron">
                                <div class="lead">{{ self.banner_text|richtext }}</div>
                                <p class="pull-right">{{ self.banner_author|richtext }}</p>
                                <hr class="my-4">
                                {{ page.content }}
                            </div>
                    </div>
{% endblock %}
